body{
    background: red;
    background-position: center;
    backface-visibility: visible;
    font-size: 16px;
    color: #fff;
    margin:0;
    padding:0;
}
div{
    background-color: #fff;
    margin:0;
    padding:0;
}
.test{
    color: #fff;
    background-color: red;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

